{% extends 'products/base.html' %}

{% block content %}
    <h1>Login</h1>
    {% if error %}
        <p>{{ error }}</p>
    {% endif %}
    <form method="post" action="{% url 'accounts:login' %}">
        {% csrf_token %}
    <div class="form-group">
        <label for="username">Username:</label>
        <input class="username-bt" type="text" name="username" required>
    </div>
        <br>
    <div class="form-group">
        <label for="password">Password:</label>
        <input class="password-bt" type="password" name="password" required>
    </div>
        <br>
    <div class="send_btn">
        <input class="main-bt" type="submit" value="Log in">
    </div>
    <div class="send_btn">
        <a href="{% url 'accounts:register' %}" class="main-bt"> Register</a>
    </div>
    </form>
{% endblock %}
