{% extends 'products/base.html' %}
{% block password_reset_complete %}

{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
&rsaquo; {% translate 'Password reset' %}
</div>
{% endblock %}
{% block content %}
<p id="reset_complete_p">{% translate "Your password has been set.  You may go ahead and log in now." %}
<a href="{% url 'accounts:login' %}" class="btn btn-success">{% translate 'Log in' %}</a></p>
{% endblock %}
{% endblock %}