{% extends 'products/base.html' %}
{% block password_reset %}
{% load i18n static %}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
&rsaquo; {% translate 'Password reset' %}
</div>
{% endblock %}

{% block content %}

<div id="reset-password">
<p>{% translate 'Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.' %}</p>
</div>
<form method="post">
    {% csrf_token %}
    <div class="form-group">
        {{ form.email.errors }}
        <label for="id_email">{% translate 'Email address:' %}</label>
        {{ form.email }}
    </div>
    <div class="send_btn">
        <input class="main-bt" type="submit" value="{% translate 'Reset my password' %}">
    </div>
</form>

{% endblock %}
{% endblock %}
