{% extends 'products/base.html' %}
{% block password_reset %}
{% load i18n static %}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">{% endblock %}
{% block breadcrumbs %}
{% load crispy_forms_tags %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
&rsaquo; {% translate 'Password reset' %}
</div>
{% endblock %}

{% block content %}

<div id="reset-password-div">
<p id="reset-password-p">{% translate 'Mot de passe oublié ? entrer votre adresse mail et nous vous enverrons les instructions à suivre' %}</p>
</div>
<form method="post">
    {% csrf_token %}
    <div class="form-group">
        {{ form.email.errors }}
        {{ form.email|as_crispy_field}}
    </div>
    <input class="btn btn-primary" type="submit" value="{% translate 'Reset my password' %}">
    
</form>

{% endblock %}
{% endblock %}
