{% extends './home.html' %}
{% load static %}
{% block filter %}
<div class="filter-form-container">
  <h2 class="filter-headers">Filtrer</h2>
  <h3 id="category-h3" class="filter-headers"> {{ products.0.category }} </h3>
  <form id="filter-form">
    {% csrf_token %}
    <h3 class="filter-headers">Price</h3>
    <div class="form-check">
      <input class="form-price-input" type="radio" value="increasing" id="increasing" name="optradio">
      <label class="form-check-label" for="increasing">
        Croissant
      </label>
    </div>
    <div class="form-check">
      <input class="form-price-input" type="radio" value="decreasing" id="decreasing" name="optradio">
      <label class="form-check-label" for="decreasing">
        Décroissant
      </label>
    </div>
    <button class="filter-button" type="submit">Filter</button>
  </form>
</div>
{% endblock %}
{% block filter_script %}
<script src="{% static 'products/js/category_page_filter.js' %}" type="module">
</script>
{% endblock %}