{% extends 'products/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}
{% block content %}
<h1 id="h1-create-product">Créer un produit </h1>
<form method="post" enctype="multipart/form-data" action="{% url 'products:create_product' %}">
    {% csrf_token %}
    <div class="form-row">
        <div class="form-group col-md-3 mb-0">
          {{ form.name|as_crispy_field }}
        </div>
        <div class="form-group col-md-3 mb-0">
          {{ form.category|as_crispy_field }}
        </div>
        <div class="form-group col-md-3 mb-0">
            {{ form.contact|as_crispy_field }}
          </div>
          <div class="form-group col-md-3 mb-0">
            {{ form.price|as_crispy_field }}
          </div>
        
    </div>
    <div class="form-row">
        <div class="form-group col-md-12 mb-0">
            {{ form.description|as_crispy_field }}
          </div>
    </div>
    <div class="form-row">
        {{ image_form.management_form }}
        {% for img_form in image_form %}
        <div class="form-group col-md-3 mb-0">
          {{ img_form|crispy }}
        </div>
        {% endfor %}
    </div>
    <input type="submit" class="btn btn-primary" value="Créer">
</form>
<script src="{% static 'products/js/default_image.js' %}">
  
  </script>
{% endblock %}
