{% extends './base.html' %}
{% load static %}
{% block content %}
<!-- home.html -->
<!-- header section end -->
<!-- new collection section start -->

<div class="collection_section layout_padding">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}
</div>
<!-- new collection section end -->
<!-- New Arrivals section start -->
<div class="layout_padding gallery_section">
    <div class="container">
        <div class="row">
            {% for product in products %}
            <div class="col-md-3 product-card">
                <div class="card-sl">
                        {% for image in product.product_images.all %}
                        {% if image.default %}
                        <a href="{% url 'products:view_product' product.id %}"><img src="{{ image.image.url }}" id="card-img"></a>
                        {% endif %}
                        {% endfor %}
                        {% if not product.product_images.all %}
                        <a href="{% url 'products:view_product' product.id %}"><img src="{% static 'products/img/no-image.jpg' %}" id="card-img"></a>
                        {% endif %}
                    <div class="card-heading">
                        {{ product.name }}
                    </div>
                    <div class="card-text">
                        Contact : {{ product.contact }}
                        <br>
                        {{ product.price }} DA
                    </div>
                    {% if product.user == request.user %}
                    <div class="card-text">
                    <a href="{% url 'products:edit_product' product.id %}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    <a href="{% url 'products:product_delete' product.pk %}"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    </div>
                    {% endif %}
                    <a href="{% url 'products:view_product' product.id %}" class="card-button">Détails</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- New Arrivals section end -->
<!-- contact section start -->

{% endblock %}