{% extends './base.html' %}
{% load static %}
{% block content %}
<!-- home.html -->
<!-- header section end -->
<!-- new collection section start -->
<div class="collection_section layout_padding">
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }}">{{ message }}</div>
  {% endfor %}
</div>
<!-- filter section -->
{% block filter %}
<button class="filter-toggle show-hide-button">Montrer/Cacher Filter</button>
<div class="filter-form-container">
  <h2>Filtrer</h2>
  <form id="filter-form">
    {% csrf_token %}
    <h3>Catégorie</h3>
    <div class="form-check">
      <input class="category-parent" type="checkbox" value="Vêtements" id="Vêtements">
      <label class="form-check-label" for="Vêtements">
        Vêtements
      </label>
      <div class="form-check vêtements-child" hidden>
        <input class="category-checkbox" type="checkbox" value="Chaussures" id="Chaussures">
        <label class="form-check-label" for="Chaussures">
          Chaussures
        </label>
      </div>
      <div class="form-check vêtements-child" hidden>
        <input class="category-checkbox" type="checkbox" value="Vestes" id="Vestes">
        <label class="form-check-label" for="Vestes">
          Vestes
        </label>
      </div>
      <div class="form-check vêtements-child" hidden>
        <input class="category-checkbox" type="checkbox" value="Pantalons" id="Pantalons">
        <label class="form-check-label" for="Pantalons">
          Pantalons
        </label>
      </div>
      <div class="form-check vêtements-child" hidden>
        <input class="category-checkbox" type="checkbox" value="Chemises" id="Chemises">
        <label class="form-check-label" for="Chemises">
          Chemises
        </label>
      </div>
      <div class="form-check vêtements-child" hidden>
        <input class="category-checkbox" type="checkbox" value="Basket" id="Basket">
        <label class="form-check-label" for="Basket">
          Basket
        </label>
      </div>
      <div class="form-check vêtements-child" hidden>
        <input class="category-checkbox" type="checkbox" value="T-shirt" id="T-shirt">
        <label class="form-check-label" for="T-shirt">
          T-shirt
        </label>
      </div>
      <div class="form-check vêtements-child" hidden>
        <input class="category-checkbox" type="checkbox" value="Mentaux" id="Mentaux">
        <label class="form-check-label" for="Mentaux">
          Mentaux
        </label>
      </div>
    </div>
    <div class="form-check">
      <input class="category-parent" type="checkbox" value="Eléctronique" id="Eléctronique">
      <label class="form-check-label" for="Eléctronique">
        Eléctronique
      </label>
      <div class="form-check eléctronique-child" hidden>
        <input class="category-checkbox" type="checkbox" value="Téléphones" id="Téléphones">
        <label class="form-check-label" for="Téléphones">
          Téléphones
        </label>
      </div>
      <div class="form-check eléctronique-child" hidden>
        <input class="category-checkbox" type="checkbox" value="Tablettes" id="Tablettes">
        <label class="form-check-label" for="Tablettes">
          Tablettes
        </label>
      </div>
    </div>
    <div class="form-check">
      <input class="category-checkbox" type="checkbox" value="Accessoires" id="Accessoires">
      <label class="form-check-label" for="Accessoires">
        Accessoires
      </label>
    </div>
    <div class="form-check">
      <input class="category-parent" type="checkbox" value="Automobiles" id="Automobiles">
      <label class="form-check-label" for="Automobiles">
        Automobile
      </label>
      <div class="form-check automobiles-child" hidden>
        <input class="category-checkbox" type="checkbox" value="Voitures" id="Voitures">
        <label class="form-check-label" for="Voitures">
          Voitures
        </label>
      </div>
      <div class="form-check automobiles-child" hidden>
        <input class="category-checkbox" type="checkbox" value="Moto" id="Moto">
        <label class="form-check-label" for="Moto">
          Moto
        </label>
      </div>
    </div>
    <div class="form-check">
      <input class="category-checkbox" type="checkbox" value="Cosmétiques" id="Cosmétiques">
      <label class="form-check-label" for="Cosmétiques">
        Cosmétiques
      </label>
    </div>
    <div class="form-check">
      <input class="category-checkbox" type="checkbox" value="Divers" id="Divers">
      <label class="form-check-label" for="Divers">
        Divers
      </label>
    </div>
    <h3>Price</h3>
    <div class="form-check">
      <input class="form-price-input" type="radio" value="increasing" id="increasing" name="optradio">
      <label class="form-check-label" for="increasing">
        Increasing
      </label>
    </div>
    <div class="form-check">
      <input class="form-price-input" type="radio" value="decreasing" id="decreasing" name="optradio">
      <label class="form-check-label" for="decreasing">
        Decreasing
      </label>
    </div>
    <button type="submit" class="filter-button">Filtrer</button>
  </form>
</div>
{% endblock %}
<!-- New Arrivals section start -->
<div class="layout_padding gallery_section">
  <div class="container">
    <div class="row" id="cards-row">
      {% for product in products %}
      <div class="col-md-3 product-card">
        <div class="card-sl">
          {% for image in product.product_images.all %}
          {% if image.default %}
          <a href="{% url 'products:view_product' product.id %}"><img src="{{ image.image.url }}" id="card-img"></a>
          {% endif %}
          {% endfor %}
          {% if not product.product_images.all %}
          <a href="{% url 'products:view_product' product.id %}"><img src="{% static 'products/img/no-image.jpg' %}"
              id="card-img"></a>
          {% endif %}
          <div class="card-heading">
            {{ product.name }}
          </div>
          <div class="card-text">
            Contact : {{ product.contact }}
            <br>
            {{ product.price }} DA
          </div>
          <a href="{% url 'products:view_product' product.id %}" class="card-button">Détails</a>
          {% if product.user == request.user %}
          <div class="card-text">
            <a href="{% url 'products:edit_product' product.id %}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
            <a href="{% url 'products:product_delete' product.pk %}"><i class="fa fa-trash" aria-hidden="true"></i></a>
          </div>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<!-- New Arrivals section end -->
<!-- contact section start -->
{% block filter_script %}
<script>
  const form = document.getElementById("filter-form")
  form.addEventListener("submit", event => {
    event.preventDefault();

    // Get the selected categories and price range
    const selectedCategories = Array.from(document.querySelectorAll(".category-checkbox:checked")).map(c => c.value);
    const selectedPrice = Array.from(document.querySelectorAll(".form-price-input:checked")).map(x => x.value);
    // Make a GET request to the backend view
    fetch("http://localhost:8000/products/filter_home", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        'X-CSRFToken': document.querySelector("input[name=csrfmiddlewaretoken]").value
      },
      body: JSON.stringify({ categories: selectedCategories, price: selectedPrice })
    })
      .then(response => response.json())
      .then(data => {
        // Handle the response data and update the product display
        // The server should return the filtered products as JSON
        // Clear the existing products from the page
        const cards = document.querySelectorAll('.product-card');
        cards.forEach(card => card.remove());
        let productContainer = document.getElementById('cards-row');
        for (let i = 0; i < data.products.length; i++) {
          let imageUrl = null;
          let product = data.products[i];
          let productCard = document.createElement("div");
          productCard.classList.add("col-md-3");
          productCard.classList.add("product-card");
          if (product.images.length === 0) {
            imageUrl = "/static/products/img/no-image.jpg";
          }
          else {
            for (let i = 0; i < product.images.length; i++) {
              let image = product.images[i];
              if (image.default === true) {
                imageUrl = image.url;
              }
            }
          }

          productCard.innerHTML = `<div class="card-sl">
              <img src="${imageUrl}" id="card-img">
              <div class="card-heading">
                 ${product.name}
              </div>
              <div class="card-text">
                 Contact : ${product.contact}
                 <br>
                  ${product.price} DA
              </div>
              <a href="products/${product.id}" class="card-button">Détails</a>
              </div>`;
          productContainer.appendChild(productCard)
        }
      });
  })
  const parentCategories = document.querySelectorAll(".category-parent");
  parentCategories.forEach(element => {
    element.addEventListener("change", function () {
      let valueToLower = this.value.toLowerCase();
      let childCategory = document.querySelectorAll(`.${valueToLower}-child`);
      if (this.checked) {
        childCategory.forEach(e => {
          e.hidden = false;
        }

        )
      }
      else (
        childCategory.forEach(
          e => {
            e.childNodes[1].checked = false;
            e.hidden = true;
          }
        )
      )
    })
  })
  const filterToggle = document.querySelector('.filter-toggle');
  const filterFormContainer = document.querySelector('.filter-form-container');

  filterToggle.addEventListener('click', function () {
    if (filterFormContainer.style.display === 'none') {
      filterFormContainer.style.display = 'block';
      filterToggle.textContent = 'Cacher Filtre';
    } else {
      filterFormContainer.style.display = 'none';
      filterToggle.textContent = 'Montrer Filtre';
    }
  });

</script>
{% endblock %}
{% endblock %}