<!-- product.html -->
<!-- product.html -->
{% extends "products/base.html" %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'products/css/product.css' %}">
{% block content %}
  <div class="product">
    <img src="{{ product.image_url }}" alt="{{ product.name }}">
    <div class="details">
      <h2>{{ product.name }}</h2>
      <p>{{ product.description }}</p>
      <p>Price: ${{ product.price }}</p>
      <form action="{% url 'cart:add_to_cart' product.id %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="variation" id="variation">
          <select name="product_variations" multiple>
            {% for variation in variations %}
              <option value="{{ variation.id }}">{{ variation.name }}</option>
            {% endfor %}
          </select>
        <input type="radio" name="default" value="{{ product.id }}" id="default">
        <label for="default">Choose default ?</label>
        <button id="add-to-cart-button" type="submit">Add to Cart</button>
      </form>
    </div>
  </div>
{% endblock %}

{% block extra_scripts %}
  <script src="{% static 'products/js/product.js' %}"></script>
{% endblock %}

